a:visited {
  text-decoration: none; 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  background-color: #333;
}

.nav-items {
  list-style-type: none;
  display: flex;
}

.nav-items > li {
  padding: 10px;
}

.nav-items > li:hover {
  background-color: #111;
}

/* li a:hover:not(.active) {
  background-color: #111;
} */

li .active {
  background-color: #DDFFF7;
}

.main {
  width: 65%;
  float: left;
  padding-left: 17.5%;
}

.item1 {
  float: left;
  width: 50%;
}

.calendar {
  background-color: #DDFFF7;
}

body {
  background-color: rgb(234, 234, 234);
}

.dropdown_content {
  display: none;
  box-shadow: 0px 8px 16px 0px darkslategrey;
}

.dropdown:hover .dropdown_content{
  display: block;
}

a {
  text-decoration: none;

}

a:hover {
  background-color: gray;
}


.event_info {
  padding: 5px;
}


.round_box {
  border-radius: 7px;
  background: #62cd5c;
  padding: 10px;
}

.menu-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.menu-icon:hover {
  background-color: gray;
}

.menu-icon > .line {
  background-color: #292929;
  height: 3px;
  display: block;
}

.menu-icon > .line + .line {
  margin-top: 4px;
}


.show {
  visibility: visible;
}


th {
  font-size: 20px;
  padding: 5px;
  margin: 5px 7px 5px 7px;
}

.login_table {
  box-shadow: 0px 0px 5px gray;
  padding: 15px;
  width: 100%;
  background-color: white;
}

