{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Task Scheduler</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <h3><a href="/" style="color: white">Home</a></h3>
        <ul class="nav-items">
            <li><a href="/add_event/" style="color: white">Add Event</a></li>
            <li><a href="/admin/" style="color: white">Admin</a></li>
            <li><a href="/profile/" style="color: white">Profile</a></li>
        </ul>
    </nav>

    {% if messages %}
        {% for message in message %}
            {{ message }}
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

</body>
</html>