{% extends 'base.html' %} 
{% block content %} 

<div class="main">
    <h1>Change Password</h1>
    <form action="/edit_password/" method="post">
        {% csrf_token %}
        <label>New Password: </label>
        <input type="edit_line" name="new_password">
        <input type="submit" value="Update">
        <p>Note: </p>
        <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>
    </form>
</div>

{% endblock content %}