{% extends "base.html" %}
{% block content %}

<div class="main">
    <br><br>
    <table align="center">
        <h2 align="center">{{ month }}<a href="/get_previous/{{ year }}/{{ month_numeric }}">&lt</a>
            <a href="/get_next/{{ year }}/{{ month_numeric }}">&gt</a></h2>
        <colgroup>
            <col span="7" style="align-items: center;">
        </colgroup>
        <thead>
            {% for day in days %} 
                <th style="font-size: 20px;
                padding: 5px;
                margin: 5px 7px 5px 7px;">{{ day }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for row in dates %}
                <tr>
                    {% for date in row %}
                        <td align="center"><a href="/get_date/{{ year }}/{{ month_numeric }}/{{ date }}">{{ date }}</a></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="eventslist">
        <ul>
            {% for event in events %} 
                <li class="event">
                    <p>{{ event }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>
<div class="main">
    <h1>{{ date }}</h1>
    <ul>
        {% for event in events %}
            <li><a href='/event_details/{{ event.id }}'>{{ event }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}